@page
@using TorneoFutbolRetoCiclo3.App.Dominio
@model TorneoFutbolRetoCiclo3.App.Frontend.Pages.Posicion_jugadores.CreateModel
@{
}
<h1>Nueva Posicion de jugador</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="posicion_jugador.nombre_posicion_jugador"></label>
        <input asp-for="posicion_jugador.nombre_posicion_jugador" class="form-control">
        <span asp-validation-for="posicion_jugador.nombre_posicion_jugador" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear Posicion de jugador</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>