@page
@using TorneoFutbolRetoCiclo3.App.Dominio
@model TorneoFutbolRetoCiclo3.App.Frontend.Pages.Equipos.EditModel
@{
}

<h1>Editar Equipo</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="equipo.EquipoId"></label>
        <input asp-for="equipo.EquipoId" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="equipo.nombre_equipo"></label>
        <input asp-for="equipo.nombre_equipo" class="form-control">
        <span asp-validation-for="equipo.nombre_equipo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Editar Equipo</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>

